ion-content {
    --padding-top: 0;
}

.barbershop-stripe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.auth-container {
    padding-top: 8px;
}

ion-list {
    margin: 0;
}

.perfil-selecionado {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.perfil-selecionado ion-chip {
    font-weight: 600;
    padding: 8px 16px;
}

.perfil-selecionado ion-icon {
    margin-right: 6px;
}
